body {
  transition: .4s;
}
.pop-input{
  width: 100%;
  margin-bottom: 10px;
}
/*
button{
  margin-bottom: 10px!important;
  box-sizing: border-box;
}
button.ui.inverted.red.button.right.hidden{
  display: none;
}
*/
.ui.container.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  text-align: center;
}

#word-display {
  font-size: 35px;
}

.delete {
  color: grey;
  cursor: pointer;
  transition: .3s;
}

.delete:hover {
  color: red;
}

/*nag*/
.nag.positive, .nag.positive:hover {
  background: rgba(33, 186, 69, 0.48);
}

