body {
  transition: .4s;
}
.correct {
  background: rgba(33, 186, 69, 0.35);
}
.incorrect {
  background: rgba(255, 0, 0, 0.35);
}
.hidden {
  display: none;
}

/* POP-UP START */
  .pop-up {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .pop-up .header {
    margin-bottom: 10px;
  }
  .pop-up .label {
    cursor: pointer;
    opacity: .3;
  }
  .pop-up .label.active {
    opacity: 1;
  }
  .pop-up .add-lang {
    cursor: pointer;
    padding: 0px 15px;
  }
  .pop-up .input {
    width: 100%;
    margin-bottom: 15px;
  }
  .pop-up .input:first-child {
    margin: 0 0 10px 0;
  }
  .pop-up #ok, .pop-up #error {
    float: right;
    height:  36px;
    display: none;
    align-items: center;
    justify-content: center;
  }

  .pop-up #ok.active, .pop-up #error.active {
    display: flex;
  }
/* POP-UP END */

/* LEARN-PAGE START */
.ui.container.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  text-align: center;
}

/*error display */
#word-display {
  font-size: 35px;
  transition: .5s;;
}

#check-input {
  text-align: center;
}
/* LEARN-PAGE END */

/* MAIN-PAGE START */
header {
  margin: 20px 0 0 0;
}
.form-outer {
  float: left;
  margin-right: 5px;
}
.form-outer .nag {
  margin-bottom: 10px;
}
.delete {
  color: grey;
  cursor: pointer;
  transition: .3s;
}

.delete:hover {
  color: red;
}




