body {
  transition: .4s;
}
.correct {
  background: rgba(33, 186, 69, 0.35);
}
.incorrect {
  background: rgba(255, 0, 0, 0.35);
}
.hidden {
  display: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

/* POP-UP START */
  .pop-up {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .pop-up .header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .label {
    cursor: pointer;
    opacity: .3;
  }

  .label.active {
    opacity: 1;
  }
  .pop-up .add-lang {
    cursor: pointer;
    padding: 0px 15px;
  }
  .pop-up .input {
    width: 100%;
    margin-bottom: 15px;
  }
  .pop-up .input:first-child {
    margin: 0 0 10px 0;
  }
   #ok, #error {
    float: right;
    height:  36px;
    display: none;
    align-items: center;
    justify-content: center;
  }

  #ok.active,  #error.active {
    display: flex;
  }
/* POP-UP END */

/* LEARN-PAGE START */
.ui.container.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  text-align: center;
}

/*error display */
#word-display {
  font-size: 35px;
  transition: .5s;;
}

#check-input {
  text-align: center;
}
/* LEARN-PAGE END */

/* MAIN-PAGE START */
header.ui.container.header {
  float: left;
  margin: 20px 0 20px 0;
}
.form-outer {
  float: left;
  margin-right: 5px;
}
.form-outer .nag {
  margin-bottom: 10px;
}
.delete {
  color: grey;
  cursor: pointer;
  transition: .3s;
}

.delete:hover {
  color: red;
}

.table.main-table {
  margin: 5px 0 0 0;
}

/* spinner */
.spinner-wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #009c95;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner > div:nth-child(2) {
  background-color: #FF695E;
}

.spinner > div:nth-child(3) {
  background-color: #b5cc18;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}